{% extends "layout.html" %}
{% block title %}Test{% endblock %}
{% block content %}
<div class="container-fluid">

    <h3 class="fw-bold text-info">Tests</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <p class="text-danger text-center">{{message}}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}
    <div class="row w-50 mt-3 add-del-btn-cont">
        <div class="col-4">
            <a href="/add-test" class="btn btn-warning w-100" role="button" aria-pressed="true">Add</a>
        </div>
        <div class="col-4">
            <a id="deleteTest" href="#" onclick="MyFunction()" class="btn btn-danger w-100" role="button"
                aria-pressed="true">Delete Record of Last Date</a>

            <select id="del_country" class="form-select mb-4" name="country" aria-label=".form-select-sm example">
                {% if countries %}

                {% for c in countries %}
                <option>{{c[0]}}</option>
                {% endfor %}

                {% endif %}
            </select>
            <script>
                function MyFunction() {
                    if (confirm('Are you sure you want to delete last days value?')) {
                        a = document.getElementById("deleteTest")
                        sel = document.getElementById("del_country")
                        a.href = "/delete-test/" + sel.value
                    }

                }

            </script>
        </div>
        <div class="col-4">
            <a href="/update-test" class="btn btn-info w-100" role="button" aria-pressed="true">Edit</a>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="row justify-content-start align-items-center">
                <div class="col-6">
                    <select id="sel_country" class="form-select" name="country" aria-label=".form-select-sm example">
                        {% if countries %}

                        {% for c in countries %}
                        <option>{{c[0]}}</option>
                        {% endfor %}

                        {% endif %}
                    </select>
                </div>
                <div class="col-4">
                    <button type="button" id="filter1" class="btn btn-primary w-100 my-3"><a
                            class="link-light text-decoration-none" id="tableFilter" href="#">Filter</a></button>
                    <script>
                        document.querySelector("#filter1").addEventListener("click", function () {
                            tableFilter = document.getElementById("tableFilter")
                            country = document.getElementById("sel_country").value
                            tableFilter.href = "/edit-test?"
                            if (country !== "Select Country") {
                                tableFilter.href += "countryName=" + country
                            }
                            window.location.replace(tableFilter.href)
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-6">
            <nav aria-label="Page navigation" class="row h-100 d-flex align-items-center">
                <ul class="pagination justify-content-end mb-0">
                    <li id="4" class="page-item"><a class="page-link">first</a></li>
                    <li id="1" class="page-item"><a class="page-link">{{paginationValues[0]}}</a></li>
                    <li id="2" class="page-item"><a class="page-link">{{paginationValues[1]}}</a></li>
                    <li id="3" class="page-item"><a class="page-link">{{paginationValues[2]}}</a></li>
                    <script>
                        l1 = document.getElementById("1")
                        l2 = document.getElementById("2")
                        l3 = document.getElementById("3")
                        l4 = document.getElementById("4")

                        let params = (new URL(document.location)).searchParams;
                        let name = params.get("countryName");
                        let url = "/edit-test?"

                        if (name != null) {
                            url = url + "countryName=" + name + "&"
                        }
                        l1.firstChild.href = url + "pageNumber=" + l1.firstChild.innerText
                        l2.firstChild.href = url + "pageNumber=" + l2.firstChild.innerText
                        l3.firstChild.href = url + "pageNumber=" + l3.firstChild.innerText
                        l4.firstChild.href = url + "pageNumber=1"
                    </script>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row my-3 mx-0">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Country</th>
                        {% for header in headings %}
                        <th scope="col">{{header}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tests %}
                    <tr>
                        {% for cell in row %}
                        <td>
                            <div class="data">
                                {{cell}}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}