{% extends "layout.html" %}
{% block title %}Case{% endblock %}
{% block content %}
<div class="container">
    <h3>Update Last Day Case Data</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <p class="text-danger text-center">{{message}}</p>
    {% endfor %}

    {% endif %}
    {% endwith %}

    <form action="/update-case" method="POST">
        <p>Reminder: Update will be based on country and the date, They will not be updated</p>
        <select class="form-select mb-4" name="country" aria-label=".form-select-sm example">
            {% if fetched_country %}

            {% for c in fetched_country %}
            <option>{{c[0]}}</option>
            {% endfor %}

            {% endif %}
        </select>
        <div class="mb-3">
            <label for="date" class="form-label">DATE</label>
            <input type="text" name="date" class="form-control" id="total_cases" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="total_cases" class="form-label">Total Cases</label>
            <input type="text" name="total_cases" class="form-control" id="total_cases" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="new_cases" class="form-label">new_cases</label>
            <input type="text" name="new_cases" class="form-control" id="total_cases" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="total_cases_per_million" class="form-label">total_cases_per_million</label>
            <input type="text" name="total_cases_per_million" class="form-control" id="total_cases"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="new_cases_per_million" class="form-label">new_cases_per_million</label>
            <input type="text" name="new_cases_per_million" class="form-control" id="total_cases"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="new_cases_smoothed" class="form-label">new_cases_smoothed</label>
            <input type="text" name="new_cases_smoothed" class="form-control" id="total_cases"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="new_cases_smoothed_per_million" class="form-label">new_cases_smoothed_per_million Cases</label>
            <input type="text" name="new_cases_smoothed_per_million" class="form-control" id="total_cases"
                aria-describedby="emailHelp">
        </div>

        <!-- <select class="form-select mb-4" name="date" aria-label=".form-select-sm example">
        <option selected>Select Date</option>
        {% if date_times %}

        {% for date_time in date_times %}
        <option value={{date_time[0]}}>{{date_time[0]}}</option>
        {% endfor %}

        {% endif %}
    </select> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}